<ion-view view-title="基本信息">
  <ion-content>

<div class="list card">
  <label class="item item-input"><span class="input-label">名称</span><input type="text" placeholder="{{dataDetail.deseg}}"></label>
  <label class="item item-input"><span class="input-label">性别</span><input type="text" placeholder="{{dataDetail.sex}}"></label>
  <label class="item item-input"><span class="input-label">出生日期</span><input type="text" placeholder="{{dataDetail.berth}}"></label>
  <label class="item item-input"><span class="input-label">身高</span><input type="text" placeholder="{{dataDetail.height}}"></label>
</div>
    <div style="width: 100%;padding: 10px">

      <button class="button button-block button-calm">保存</button>
    </div>
  </ion-content>
</ion-view>
