

<ion-view view-title="">

  <!--  <ion-nav-buttons side="left">
      <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="back()" nav-direction="back"></a>
    </ion-nav-buttons>-->

  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="back()"></a>
  </ion-nav-buttons>


  <ion-content class="padding">

    <div class="zboxText">
      <div class="z_title" id="titleDetail" >五个穴位强身健体受益终生</div>
      <div class="textM" id="publishInfo" >【来源：中国养生网】  【发布日期：2016-10-13】  【阅读次数：224】</div>
      <div class="z_newsContent" >

        <p>
          &nbsp;　一、气海穴：气海穴就是人们常说的下丹田，气海穴位于脚底到头顶的黄金分割点上，其具体位置在肚脐正下方1.5寸的地方。小常识上讲，气海是针灸保健最关键的穴位，自古就有“气海一穴暖全身”的说法。此穴位具有温养益气、强壮身体的功效。可把双手搓热来按摩此穴位。如果你是阳气不足、虚证的患者，可选择用艾灸气海穴，效果非常好。
        </p>
        <p>
          &nbsp;
        </p>
        <p>
          　　二、百会穴：百会穴位于头顶至后脑的黄金分割点上。百会穴意为“百脉于此交会”，此穴位非常好找，在头顶下中线与两耳尖连线的交点处。用手掌按摩头顶中央的百会穴，每次按顺时针和逆时针各按摩30圈，每天按摩2－3次，按摩此穴对心悸、头晕、失眠、健忘等常见疾病有好的疗效。
        </p>
        <p>
          &nbsp;
        </p>
        <p>
          &nbsp;
        </p>
        <p>
          　　三、涌泉穴：涌泉穴在脚掌的黄金分割点上。此穴位于足前部凹陷处第2、3趾趾缝纹头端与足跟连线的前1/3处的位置上，也是肾经的首穴。经常按摩此穴对治疗神经衰弱、精力减退、失眠乏力的患者有很好的疗效。疾病医疗专家提示，按摩涌泉穴时，最好稍微用力推搓，使局部出现微热感，可以选择艾灸的方法艾灸涌泉穴。
        </p>
        <p>
          &nbsp;
        </p>
        <p>
          　　四、劳宫穴：劳宫穴在手掌上的黄金分割点上。握拳后，中指尖所指的位置就是劳宫穴。经常按摩劳宫穴具有清心火、安心神的功效，对治疗失眠、神经衰弱等病症有很好的疗效。另外，经常按摩劳宫穴还有强壮心脏的作用。健康运动专家指出，按摩时可采用左右手拇指交叉进行，还可以选择两手顶在桌角上按摩此穴，按摩时间由自己把握，每天最好按摩3－5次效果最佳。
        </p>
        <p>
          &nbsp;
        </p>
        <p>
          　　五、膻中穴：膻中穴也是任脉必经之路，如膻中穴位于人体躯干的黄金分割点上，也是人体前正中线与两乳头连线的中点，此穴是脏腑之气汇聚的地方，经常按摩此穴可以扩张血管，调整心脏功能，按摩此穴还可以治疗胸闷、呼吸困难、咳嗽、等疾病。做这个养生小动作时，应当选择拇指或中指的指腹，按摩的力度以稍有疼痛感为宜，每次按摩的时间是10秒，3次为1遍，每天最好按摩3－5遍。
        </p>
        <p>
          五个穴位非常的好找，如果经常按摩，对身体有很好的帮助。
        </p>
        <p>
          原作者：www.xigushan.net
        </p>
        <p>
          <br/>
        </p>


      </div>
    </div>

  </ion-content>

</ion-view>
