

<ion-view view-title="">

  <!--  <ion-nav-buttons side="left">
      <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="back()" nav-direction="back"></a>
    </ion-nav-buttons>-->

  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="back()"></a>
  </ion-nav-buttons>


  <ion-content class="padding">

    <div class="zboxText">

      <div class="z_newsContent" >

        <p>
          &nbsp;
        </p>
        <p>


        </p>
        <h1>
          这十大症状提示您可能患了风湿病!
        </h1>
        <p>


        </p>
        <p>

          <span class="writer"><a href="http://mp.sohu.com/profile?xpt=c29odXptdHF5dmV5M2FAc29odS5jb20=" target="_blank">贵州省风湿病公众信息平台</a></span>
          <span class="time">2016-08-24 08:40:22</span>
					<span class="tag">
					 &nbsp;					</span>
					<span class="read-num">
					 &nbsp;<a>阅读(<em class="red">7</em>)</a>
					</span>
          <span class="comment-num"><a href="http://pinglun.sohu.com/s465656179.html" target="_blank">评论(<em class="red">0</em>)</a></span>

        </p>
        <p>


        </p>
        <p>




        </p>
        <p>
          声明：本文由入驻搜狐公众平台的作者撰写，除搜狐官方账号外，观点仅代表作者本人，不代表搜狐立场。<a href="http://quan.sohu.com/q/545c9b6bf6c43b5569fe64a2" target="_blank">举报</a>
        </p>
        <p>


        </p>
        <p>




        </p>
        <p>
          　　1了解什么是风湿病？
        </p>
        <p>
          　　风湿病是一组侵犯关节、骨骼、肌肉、血管及有关软组织或结缔组织为主的疾病，其中多数为自身免疫性疾病。发病多较隐蔽而缓慢，病程较长，且大多具有遗传倾向。

          诊断及治疗均有一定难度；血液中多可检查出不同的自身抗体，可能与不同HLA亚型有关；对非甾类抗炎药(NSAID)，糖皮质激素和免疫抑制剂有较好的短期或长期的缓解性反应。
        </p>
        <p>
          　　风湿是由A组乙型溶血性链球菌感染所致的全身变态反应性疾病，病初起时常有丹毒等感染病史。风湿起病急，且多见于青少年。风湿性关节炎可侵犯心脏，引起风湿性心脏病，并有发热、皮下结节和皮疹等表现。
        </p>
        <p>
          　　2风湿病形成的原因有哪些？
        </p>
        <p>
          　　<strong>a.内分泌因素：</strong>雌激素可刺激类风湿关节炎的发病，所以这是类风湿的病因之一。
        </p>
        <p>
          　　<strong>b.免疫因素：</strong>免疫异常在类风湿的病因中占有重要地位，许多风湿病至少有部分原因是由免疫异常引起的。如类风湿关节炎属于自身免疫性疾病。
        </p>
        <p>
          　　<strong>c.感染因素：</strong>很多风湿病与感染有关。如类风湿的病因与A型溶血性链球菌的感染有关。
        </p>
        <p>
          　　<strong>d.遗传因素：</strong>越来越多的资料显示类风湿的病因与遗传因素有关。痛风、风湿热与遗传因素也有密切关系。
        </p>
        <p>
          　　3哪些症状可能是风湿病?
        </p>
        <p>
          　　<img src="http://n1.itc.cn/img8/wb/recom/2016/08/24/147199922177366250.JPEG"/>
        </p>
        <p>
          　　01
        </p>
        <p>
          　　<strong>风湿患者易感冒</strong>
        </p>
        <p>
          　　原发或继发性免疫功能低下可出现容易感冒。
        </p>
        <p>
          　　02
        </p>
        <p>
          　　<strong>复发性眼炎、外生殖器溃疡和口腔溃疡</strong>
        </p>
        <p>
          　　白塞病可出现这种表现。
        </p>
        <p>
          　　03
        </p>
        <p>
          　　<strong>多系统或脏器损害</strong>
        </p>
        <p>
          　　多数弥漫性结缔组织病如系统性红斑狼疮、系统性血管炎、系统性硬化症等均可累及全身多个脏器或系统。
        </p>
        <p>
          　　04
        </p>
        <p>
          　　<strong>口眼干燥</strong>
        </p>
        <p>
          　　口眼干燥不仅可见于糖尿病、使用某些药物如抗抑郁药及尿崩症，更多地见于原发或继发性干燥综合症。
        </p>
        <p>
          　　05
        </p>
        <p>
          　　<strong>足跟痛或其他肌腱端部位疼痛</strong>
        </p>
        <p>
          　　很多的血清阴性脊柱关节病可出现这些表现。
        </p>
        <p>
          　　06
        </p>
        <p>
          　　<strong>肌痛肌无力</strong>
        </p>
        <p>
          　　如皮肌炎、多肌炎、代谢性肌病及肿瘤诱发的肌病等可出现这种表现。
        </p>
        <p>
          　　07
        </p>
        <p>
          　　<strong>关节肿痛或疼痛</strong>
        </p>
        <p>
          　　多数的风湿免疫病都有此表现，可轻可重，可持续时间短，也可持续时间长，可同时伴局部发红发热，也可以仅表现为疼痛。可为游走性或固定性，也可呈发作性。值得注意的是，如果有关节明显的肿胀，非得看病不可了。
        </p>
        <p>
          　　08
        </p>
        <p>
          　　<strong>雷诺现象</strong>
        </p>
        <p>
          　　雷诺现象就是遇冷或情绪改变时出现双手或双足变白，得暖或情绪稳定后变红，最后转为正常颜色。很多弥漫性结缔组织病如混合性结缔组织病、系统性硬化症、系统性红斑狼疮等均可出现这种现象。
        </p>
        <p>
          　　09
        </p>
        <p>
          　　<strong>下背疼痛和交替性臀部疼痛</strong>
        </p>
        <p>
          　　很多强直性脊柱炎、未分化脊柱关节病等患者可出现这些症状，主要表现为夜间尤其是下半夜背部疼痛而醒，伴晨僵感，活动后症状可得到改善。
        </p>
        <p>
          　　10
        </p>
        <p>
          　　<strong>不明原因的发热</strong>
        </p>
        <p>
          　　对于长期发热，经抗生素或抗结核治疗无效，并排除肿瘤者，一定要考虑风湿免疫病的可能。
        </p>
        <p>
          　　如果你出现了以上症状，就要引起警惕，提早到医院检查，做到早发现，早预防，早治疗！
        </p>
        <p>


        </p>
        <p>


          &nbsp; &nbsp;




          <a class="pagevisit">阅读(<em class="red">7</em>)</a>
        </p>
        <p>
          <br/>
        </p>

      </div>
    </div>

  </ion-content>

</ion-view>
