<ion-view view-title="健康资讯">

<!--  <ion-nav-bar class="bar-stable bar-calm">
    <ion-nav-back-button class="button button-icon icon"
                         ng-click="back()">
      <a class="button button-clear button-icon icon ion-ios-arrow-thin-left"></a>{{""}}
    </ion-nav-back-button>
  </ion-nav-bar>-->

<!--  ng-bind-html="info"-->

  <ion-content class="padding" >



    <div class="button-bar" style="border-bottom: 1px solid #ddd">
      <a class="button button-clear button-dark" href="#/app/tabs/medcategory/1/不孕不育">不孕不育</a>
      <a class="button button-clear button-dark" href="#/app/tabs/medcategory/7/冠心病">冠心病</a>
      <a class="button button-clear button-dark" href="#/app/tabs/medcategory/8/湿疹">湿疹</a>
    </div>

    <div class="button-bar" style="border-bottom: 1px solid #ddd">
      <a class="button button-clear button-dark"  href="#/app/tabs/medcategory/2/癫痫">癫痫</a>
      <a class="button button-clear button-dark">甲状腺结节</a>
      <a class="button button-clear button-dark">近视眼手术</a>
    </div>

    <div class="button-bar" style="border-bottom: 1px solid #ddd">
      <a class="button button-clear button-dark">疾病诊断</a>
      <a class="button button-clear button-dark">疾病预防</a>
      <a class="button button-clear button-dark">疾病康复</a>
    </div>


    <div class="button-bar"  style="border-bottom: 1px solid #ddd">
      <a class="button button-clear button-dark">糖尿病</a>
      <a class="button button-clear button-dark">骨质疏松</a>
      <a class="button button-clear button-dark">结膜炎</a>
    </div>


    <div class="button-bar"  style="border-bottom: 1px solid #ddd">
      <a class="button button-clear button-dark">高血压</a>
      <a class="button button-clear button-dark">肿瘤</a>
      <a class="button button-clear button-dark">两性</a>
    </div>






  </ion-content>
</ion-view>
