<ion-view view-title="健康资讯">
  <ion-content class="padding">

    <ion-list>

      <ion-item class="item item-thumbnail-left" style="padding-top: 0px;" type="item-text-wrap" href="#/app/tabs/healchandetail">
        <img src="img/meihuazhen.jpg">
        <h2>梅花针可以治疗哪些疾病</h2>
        <p>1天前</p>
      </ion-item>


      <ion-item class="item item-thumbnail-left"   type="item-text-wrap" href="#/app/tabs/healchandetail11">
        <img src="img/xuewei.jpg">
        <h2>5个穴位强身健体受益终生</h2>
        <p>2天前</p>
      </ion-item>



      <ion-item class="item item-thumbnail-left"  type="item-text-wrap" href="#/app/tabs/healchandetail12">
        <img src="img/fengshibing.jpg">
        <h2>这十大症状提示您可能患了风湿病</h2>
        <p>9小时前</p>
      </ion-item>


      <ion-item class="item item-thumbnail-left"   type="item-text-wrap" href="#/app/tabs/healchandetail13">
        <img src="img/fuyuanhui.jpg">
        <h2>学学傅园慧吧，做个逗逼，不要被自己逼死</h2>
        <p>1天前</p>
      </ion-item>



      <ion-item class="item item-thumbnail-left"  type="item-text-wrap" href="#/app/tabs/healchandetail14">
        <img src="img/toutong.gif">
        <h2>天气变冷，警惕诱发偏头痛</h2>
        <p>1天前</p>
      </ion-item>



      <ion-item class="item item-thumbnail-left"  type="item-text-wrap" href="#/app/tabs/healchandetail15">
        <img src="img/xueshuan.jpg">
        <h2>久坐要抬脚！冬季防血栓有三招</h2>
        <p>1天前</p>
      </ion-item>

      <ion-item class="item item-thumbnail-left"  type="item-text-wrap" href="#/app/tabs/healchandetail16">
        <img src="img/jiu.jpg">
        <h2>放下酒杯，爱护肝脏</h2>
        <p>1天前</p>
      </ion-item>


      <ion-item class="item item-thumbnail-left"  type="item-text-wrap" href="#/app/tabs/healchandetail17">
        <img src="img/ai.jpeg">
        <h2>癌能累出来</h2>
        <p>1天前</p>
      </ion-item>





    </ion-list>
  </ion-content>
</ion-view>

