

<ion-view view-title="">

  <!--  <ion-nav-buttons side="left">
      <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="back()" nav-direction="back"></a>
    </ion-nav-buttons>-->

  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="back()"></a>
  </ion-nav-buttons>


  <ion-content class="padding">

    <div class="zboxText">
      <div class="z_title" id="titleDetail" >久坐要抬脚！冬季防血栓有三招</div>
      <div class="textM" id="publishInfo" >【来源：国务院新闻办公室网站】  【发布日期：2016-10-08】  【阅读次数：94】</div>
      <div class="z_newsContent" >

        <p>
          <br/>
        </p>
        <p>



        </p>
        <p>

          <span class="writer"><a href="http://mp.i.sohu.com/profile?xpt=aGVhbHRoLXNvaHVAc29odS5jb20=" target="_blank">搜狐健康</a></span>
          <span class="time">2016-10-17 18:34:21</span>
					<span class="tag">
					 &nbsp;					</span>
					<span class="read-num">
					 &nbsp;<a>阅读(<em class="red">46222</em>)</a>
					</span>
          <span class="comment-num"><a href="http://pinglun.sohu.com/s470492488.html" target="_blank">评论(<em class="red">20</em>)</a></span>

        </p>
        <p>


        </p>
        <p>




        </p>
        <p>
          声明：本文由入驻搜狐公众平台的作者撰写，除搜狐官方账号外，观点仅代表作者本人，不代表搜狐立场。<a href="http://quan.sohu.com/q/545c9b6bf6c43b5569fe64a2" target="_blank">举报</a>
        </p>
        <p>


        </p>


        <p>


        </p>
        <p style="text-align: center;">
          <img src="http://img.mp.itc.cn/upload/20161017/e482d1e744ae4821bb43d49eb3c31d17_th.jpg"/>
        </p>
        <p>
          　　<strong><span style="font-size: 16px;">搜狐健康 </span></strong><strong><span style="font-size: 16px;">文/干玎竹</span></strong>
        </p>
        <p>
          　　<span style="font-size: 16px;">心血管疾病三大杀手---心梗、脑</span><span style="font-size: 16px;">梗</span><span style="font-size: 16px;">和</span><span style="font-size: 16px;">肺栓塞，用的是同一发子弹：</span><span style="font-size: 16px;">血栓</span><span style="font-size: 16px;">！血栓是人体血管</span><span style="font-size: 16px;">中</span><span style="font-size: 16px;">的</span><span style="font-size: 16px;">血凝块</span><span style="font-size: 16px;">，一旦脱落，就会随着血流游走，如果到了血管分支或较细的地方，血栓会像</span><span style="font-size: 16px;">塞子一样堵</span><span style="font-size: 16px;">住小血管，</span><span style="font-size: 16px;">导致相关</span><span style="font-size: 16px;">的</span><span style="font-size: 16px;">脏器</span><span style="font-size: 16px;">血流</span><span style="font-size: 16px;">减缓或者</span><span style="font-size: 16px;">完全</span><span style="font-size: 16px;">阻断血流</span><span style="font-size: 16px;">供应</span><span style="font-size: 16px;">。</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">血栓</span><span style="font-size: 16px;">堵在</span><span style="font-size: 16px;">脑部就导致脑梗，</span><span style="font-size: 16px;">堵在</span><span style="font-size: 16px;">在冠状动脉就形成心梗，堵</span><span style="font-size: 16px;">到</span><span style="font-size: 16px;">肺部就是“肺栓塞”</span><span style="font-size: 16px;">，堵到腿上就是深静脉血栓……</span><span style="font-size: 16px;">每年</span><span style="font-size: 16px;">，</span><span style="font-size: 16px;">全</span><span style="font-size: 16px;">世界会有近</span><span style="font-size: 16px;">1000</span><span style="font-size: 16px;">万</span><span style="font-size: 16px;">人发生</span><span style="font-size: 16px;">静脉血栓栓塞症</span><span style="font-size: 16px;">，</span><span style="font-size: 16px;">造成</span><span style="font-size: 16px;">大量的</span><span style="font-size: 16px;">死亡</span><span style="font-size: 16px;">和伤残患者</span><span style="font-size: 16px;">。</span>
        </p>
        <p>
          　　<strong><span style="font-size: 16px;">为什么我们的身体里会有血栓？</span></strong>
        </p>
        <p>
          　　<span style="font-size: 16px;">人体血液中存在着凝血系统和抗凝系统。在正常情况下，二者保持着动态平衡以保证血液在血管中正常流动，不会形成血栓。</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">但在特殊情况下，如血流变缓、凝血因子病变、血管损伤时，导致凝血功能亢进或抗凝功能削弱时，则会打破这种平衡，使人处于“易栓状态”。</span>
        </p>
        <p>
          　　<strong><span style="font-size: 16px;">血栓这么可怕，离我们有多远？</span></strong>
        </p>
        <p>
          　　<span style="font-size: 16px;">住院患者是离血栓最近的群体，但是普通人群也不要大意。在近日由<span style="font-size: 16px;">中国健康促进基金会血栓与血管专项基金管理委员会主办的“关注血栓 关爱生命”媒体见面会上，</span>北京世纪坛医院血管外科主任张福先教授告诉搜狐健康记者，美国的社区调查发现，血栓栓塞症的发病率达</span><span style="font-size: 16px;">458/10万人，是2015年中国癌症发病率的两倍以上。</span><span style="font-size: 16px;">中国人太喜欢宅着了，打麻将、玩游戏，发病率虽然没有具体统计，但肯定只高不低。</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">张福先提醒这四</span><span style="font-size: 16px;">类人群一定要注意：</span>
        </p>
        <p>
          　　<strong><span style="font-size: 16px;">一、</span></strong><strong><span style="font-size: 16px;">静脉血流滞缓</span></strong><strong><span style="font-size: 16px;">的人群</span></strong><span style="font-size: 16px;">，</span><span style="font-size: 16px;">血流滞缓是诱发下肢深静脉血栓形成最常见的原因</span><span style="font-size: 16px;">。</span><span style="font-size: 16px;">长时间卧床</span><span style="font-size: 16px;">、久坐、喝水减少，都会导致全身血流减慢。例如长途旅行引起的“经济舱综合征”，就是由于长途飞行中，</span><span style="font-size: 16px;">经济舱的座位狭小，</span><span style="font-size: 16px;">如果一直不运动，饮水量又减少，旅行的人</span><span style="font-size: 16px;">容易</span><span style="font-size: 16px;">发生</span><span style="font-size: 16px;">血栓</span><span style="font-size: 16px;">。</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">六七十</span><span style="font-size: 16px;">岁的老年人也是</span><span style="font-size: 16px;">血栓的好发人群</span><span style="font-size: 16px;">，发病率随着年龄的增加而增长。</span><span style="font-size: 16px;">老年人普遍运动量下降，</span><span style="font-size: 16px;">全身血流普遍减慢，血液粘稠度高。</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">另外，</span><span style="font-size: 16px;">静脉曲张</span><span style="font-size: 16px;">的人下肢静脉血</span><span style="font-size: 16px;">流比正常人缓慢，血小板与血管内膜接触机会增多，血小板就有可能沉积黏附在血管内膜上，继而形成静脉血栓。</span>
        </p>
        <p>
          　　<strong><span style="font-size: 16px;">二、血管</span></strong><strong><span style="font-size: 16px;">壁</span></strong><strong><span style="font-size: 16px;">受</span></strong><strong><span style="font-size: 16px;">损</span></strong><strong><span style="font-size: 16px;">的人群。</span></strong><span style="font-size: 16px;">三高人群（高血糖、高血脂、高血压）、肥胖、基础代谢异常的人群</span><span style="font-size: 16px;">等。这类人群</span><span style="font-size: 16px;">具有多种促进动脉血栓形成的高危因素，可能导致血管内皮的能量代谢出现异常，使血管发生损伤</span><span style="font-size: 16px;">。</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">吸烟</span><span style="font-size: 16px;">也可以</span><span style="font-size: 16px;">引起血管痉挛，</span><span style="font-size: 16px;">也会</span><span style="font-size: 16px;">导致血管内皮损伤</span><span style="font-size: 16px;">。</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">其他常见的静脉壁损伤还包括：静脉</span><span style="font-size: 16px;">输液，</span><span style="font-size: 16px;">有一些</span><span style="font-size: 16px;">刺激性溶液和高渗溶液，如</span><span style="font-size: 16px;">某些</span><span style="font-size: 16px;">抗生素、高渗葡萄糖溶液等</span><span style="font-size: 16px;">会</span><span style="font-size: 16px;">在不同程度上刺激静脉内膜，</span><span style="font-size: 16px;">可能会</span><span style="font-size: 16px;">导致静脉炎和小腿静脉血栓形成。</span><span style="font-size: 16px;">身体外伤、感染也可以破坏血管管壁的完整性，增加</span><span style="font-size: 16px;">血栓</span><span style="font-size: 16px;">的风险</span><span style="font-size: 16px;">。</span>
        </p>
        <p>
          　　<strong><span style="font-size: 16px;">三、</span></strong><strong><span style="font-size: 16px;">血液</span></strong><strong><span style="font-size: 16px;">处于</span></strong><strong><span style="font-size: 16px;">高凝状态</span></strong><strong><span style="font-size: 16px;">的人群：</span></strong><span style="font-size: 16px;">药物的临床应用，如长期口服避孕药，可降低抗凝血酶的水平，从而提高血液的凝固度。大剂量应用止血药物和脱水剂也可使血液呈高凝状态。</span>
        </p>
        <p>
          　　<strong><span style="font-size: 16px;">四、</span></strong><strong><span style="font-size: 16px;">孕妇</span></strong><span style="font-size: 16px;">是血栓发生的高度危险人群。膨大的子宫影响静脉回流，同时，孕期的血液会呈现生理性的高凝状态，而且这种高凝状态会一直持续，直至产后一个半月。如果怀孕合并肥胖或者高龄（年纪大于</span><span style="font-size: 16px;">35岁</span><span style="font-size: 16px;">），在妊娠期发生血栓的风险更是大幅升高。</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">因此，</span><span style="font-size: 16px;">静脉曲张、</span><span style="font-size: 16px;">三高人群</span><span style="font-size: 16px;">、长期久坐久站的人、孕妇</span><span style="font-size: 16px;">、烟民</span><span style="font-size: 16px;">等</span><span style="font-size: 16px;">都是静脉血栓的高危人群。</span>
        </p>
        <p>
          　　<strong><span style="font-size: 16px;">血栓发生前有没有一些症状？</span></strong>
        </p>
        <p>
          　　<span style="font-size: 16px;">静脉血栓被称为“隐形杀手”，</span><span style="font-size: 16px;">99%的血栓是没有任何症状及感觉的</span><span style="font-size: 16px;">，</span><span style="font-size: 16px;">血栓逐渐形成，随着血流在血管中游走，很难被Ｂ超或者ＣＴ捕捉到。</span><span style="font-size: 16px;">只有血栓栓塞到具体的某段血管上，相应的器官才会出现疼痛、肿胀等血流循环受阻的症状</span><span style="font-size: 16px;">。</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">血栓如果阻塞在下肢</span><span style="font-size: 16px;">深静脉</span><span style="font-size: 16px;">，会发生</span><span style="font-size: 16px;">疼痛，通常从腘窝开始</span><span style="font-size: 16px;">；小腿</span><span style="font-size: 16px;">肿胀，特别是足踝部</span><span style="font-size: 16px;">；小腿</span><span style="font-size: 16px;">红肿</span><span style="font-size: 16px;">；</span><span style="font-size: 16px;">体温升高</span><span style="font-size: 16px;">。</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">血栓如果阻塞在下肢</span><span style="font-size: 16px;">深静脉肺栓塞</span><span style="font-size: 16px;">，会发生</span><span style="font-size: 16px;">不明原因的呼吸急促</span><span style="font-size: 16px;">；</span><span style="font-size: 16px;">胸痛，深呼吸时可能加重</span><span style="font-size: 16px;">；</span><span style="font-size: 16px;">心率</span><span style="font-size: 16px;">加</span><span style="font-size: 16px;">快</span><span style="font-size: 16px;">；</span><span style="font-size: 16px;">轻微意识丧失或晕厥</span><span style="font-size: 16px;">。</span>
        </p>
        <p>
          　　<strong><span style="font-size: 16px;">动起来，不给血栓可乘之机</span></strong>
        </p>
        <p>
          　　<span style="font-size: 16px;">人体从外界摄取的养分，需要通过血流送达全身，一旦形成血栓、血流不畅，将影响多个器官的功能</span><span style="font-size: 16px;">甚至致命</span><span style="font-size: 16px;">。</span><span style="font-size: 16px;">中日友好医院院长</span><span style="font-size: 16px;">王辰院士</span><span style="font-size: 16px;">等</span><span style="font-size: 16px;">多位专家呼吁大众</span><span style="font-size: 16px;">认识血栓并通过</span><span style="font-size: 16px;">合理</span><span style="font-size: 16px;">措施</span><span style="font-size: 16px;">防控血栓。</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">要积极预防静脉血栓的形成，主要有三点：</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">一是</span><span style="font-size: 16px;">多运动，加速下肢静脉循环。</span><span style="font-size: 16px;">避免久坐久站，坐或站一段时间后最好走一走，让下肢肌肉收缩和放松，促进血液循环。躺下时或坐下时可以有意识地把脚抬高一会，以促进静脉回流。</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">二是静脉血栓的高危人群，包括因工作或生活习惯长期久坐久站的人如外科医生、营业员、司机、伏案工作者，建议穿弹力袜预防静脉血栓。</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">三是高血糖高血压血脂异常、感染以及肿瘤的患者，要在积极治疗原发病的基础上，在医生指导下适量使用一些抗凝药物。</span>
        </p>
        <p>


        </p>



        <em class="modify-time">最后修改于2016-10-17 23:09:44</em>

        <a class="pagevisit">阅读(<em class="red">46222</em></a>


      </div>
    </div>

  </ion-content>

</ion-view>
