

<ion-view view-title="">

  <!--  <ion-nav-buttons side="left">
      <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="back()" nav-direction="back"></a>
    </ion-nav-buttons>-->

  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="back()"></a>
  </ion-nav-buttons>


  <ion-content class="padding">

    <div class="zboxText">
      <div class="z_title" id="titleDetail" >学学傅园慧吧，做个逗逼，不要被自己逼死</div>
      <div class="textM" id="publishInfo" >【来源：搜狐网站】  【发布日期：2016-10-08】 </div>
      <div class="z_newsContent" >

        <p>

          <span class="writer"><a href="http://mp.i.sohu.com/profile?xpt=RkEwQTZBQjE0NkMwM0Q2QzEwRDhEOENGMDE5MTNCRDNAcXEuc29odS5jb20=" target="_blank">心之助情感</a></span>
          <span class="time">2016-08-10 18:57:02</span>
					<span class="tag">
					 &nbsp;
				 &nbsp; &nbsp; &nbsp;<a href="http://mt.sohu.com/tag/0443/000021443.shtml" target="_blank">焦虑</a>
				 &nbsp; &nbsp; &nbsp;
				 &nbsp; &nbsp; &nbsp;<a href="http://mt.sohu.com/tag/0606/000000606.shtml" target="_blank">情绪</a>
				 &nbsp; &nbsp; &nbsp;
				 &nbsp; &nbsp; &nbsp;<a href="http://mt.sohu.com/tag/0824/000001824.shtml" target="_blank">方式</a>
				 &nbsp; &nbsp; &nbsp;					</span>
					<span class="read-num">
					 &nbsp;<a>阅读(<em class="red">30899</em>)</a>
					</span>
          <span class="comment-num"><a href="http://pinglun.sohu.com/s463583585.html" target="_blank">评论(<em class="red">0</em>)</a></span>

        </p>
        <p>


        </p>
        <p>




        </p>
        <p>
          声明：本文由入驻搜狐公众平台的作者撰写，除搜狐官方账号外，观点仅代表作者本人，不代表搜狐立场。<a href="http://quan.sohu.com/q/545c9b6bf6c43b5569fe64a2" target="_blank">举报</a>
        </p>
        <p>


        </p>
        <p>




        </p>
        <p style="text-align: center;">
          <img src="http://img.mp.itc.cn/upload/20160810/d00c9677bca54f279163733c7d8c8b9a_th.jpg"/>
        </p>
        <p>
          　　<span style="font-size: 16px;">心之助（微信：</span><span style="font-size: 16px;">luyuexinli</span><span style="font-size: 16px;">）</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">女性心理健康与成长专业平台</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">陪伴你心灵成长 获得幸福生活</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">预约情感咨询 成长咨询 学习心理课程</span>
        </p>
        <p>
          　　<strong><span style="font-size: 14px;">文丨冯丹彤</span></strong>
        </p>
        <p>
          　　<strong><span style="font-size: 14px;">小编丨 心之助 Susie</span></strong>
        </p>
        <p>
          　　<span style="font-size: 14px;">这两天的网上最红的莫过于傅园慧，为什么？因为她逗逼。她苦不苦？累不累？狠不狠？在采访中，她说，前段时间成绩不好，她练得生不如死，有时都会担心自己在水里累到淹死，可是她可以对自己说：宝宝会好好地活下去，没啥过不去，竭尽全力地活下去吧，皮卡丘！这就是说，我们无论如何都可以有选择，就算是在脚丫子朝天的辛苦当中，我们也可以选择一种逗逼的人生态度。那么为什么有人要非常苦逼，而不要逗逼呢？是因为焦虑，今天我们给大家上上课：什么叫做焦虑。有请冯丹彤老师给我们讲讲吧！</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">网友提问</span>
        </p>
        <p>
          　　关键词 <strong>遇到情绪焦虑的人</strong>
        </p>
        <p>
          　　<span style="font-size: 14px;">我们在生活中经常可见到这样的人，走路匆匆忙忙，慌里慌张，然而他们其实并非真的那么忙。那么他们为什么会表现出慌里慌张的行为呢？这和他们的成长方式、遗传、经历有关吗？对这样的人我们该怎么改变他呢？怎么让他们察觉自己呢？察觉后他们应该怎么办呢？</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">咨询专家冯丹彤答：</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">电影《泰囧》中有这样一幕：由于晚高峰堵车，着急赶往机场的徐峥坐在出租车上抢着按喇叭催前面的车，一会儿探出头去看路，一会儿气急败坏地咒骂路况，不停地催促司机开快点，而一脸福相的司机却播放着小曲儿，慢悠悠地说：“淡定点儿，中国人最着急······北京？北京更堵！淡定点儿。”</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">这位泰国司机大哥见多识广，说得很准确。“着急、焦虑”是我们整个民族当前最强烈、也最有共鸣的情绪感受。急着学习、忙着考证、赶着赚钱、抢着买房、顾着养家、担忧着孩子和老人、惦记着业绩和升职、盼望着退休养老······ 总之手头总有事，脑子总塞满了目标。 </span>
        </p>
        <p>
          　　<span style="font-size: 14px;">题主提到的走路匆忙、神情慌张的人，都是处于焦虑状态的人，不一定达到了“焦虑症”，但至少是有焦虑的情绪。要从容地面对这些人和情绪，需要了解焦虑的常见形式，理解应对焦虑的不同方式，最后根据关系的亲疏采用不同策略应对。分述如下：</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">1</span><strong><span style="font-size: 16px;">焦虑的常见形式</span></strong>
        </p>
        <p>
          　　<span style="font-size: 14px;">焦虑的基本定义是：针对可能和将要发生的事情，情绪持续性地处于痛苦、紧张、急切、提心吊胆的状态，伴随多汗、失眠、头晕、胃肠感觉不适等植物神经系统的紊乱。</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">以上是医学症状描述，日常我们可以看到或体验到的症状可分为三个方面：</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">1.</span><span style="font-size: 14px;">认知上，产生糟糕结果的联想，自我评价偏低，担心完成不了任务，只能看到负面信息，注意力难以集中，为了寻求确定答案而犹豫不决等；</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">2.</span><span style="font-size: 14px;">情绪感受上，烦躁难安、易激惹、愤怒，持续的情绪紧张，抱怨增多，想退缩或逃避，也伴随身体反应，如肩膀僵硬、胸口发闷、偏头疼等；</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">3.</span><span style="font-size: 14px;">行动上，坐立难安、没有耐心、失眠易醒、过度抽烟和酗酒等。</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">当看到这些现象时，我们会意识到“焦虑来了”。题主说的情况偏重于行动上的神色慌张。而《泰囧》中徐峥，更多的是言语的抱怨咒骂、夸大的担忧、烦不可耐的语气，他的焦虑较多体现在想法上。</span>
        </p>
        <p>
          　　<span style="font-size: 16px;">2</span><strong><span style="font-size: 16px;">焦虑的应对方式</span></strong>
        </p>
        <p>
          　　<span style="font-size: 14px;">如题主所说，应对焦虑的方式会受到遗传、家庭氛围、成长经历的影响。不同特质、不同环境中的人采用的应对方式也不同，可粗略分为以下几种：</span>
        </p>
        <p>
          　　<strong><span style="font-size: 14px;">一、用行动宣泄焦虑。</span></strong><span style="font-size: 14px;">动作可以大到购物跳舞、健身运动、打架飙车，也可以小到抖腿挠头、反复按动笔芯。总之要活动肢体，尽可能从反复的动作中让肌肉从紧张到放松，身心从激动到平静，逐渐代谢掉各种焦虑。从这个角度看，抽烟、喝酒、过度饮食也属于一种“行动”——靠局部肌肉的紧张和放松、刺激神经系统来驱赶主观层面的烦恼和冲突的方法。</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">这是性格较外向、爱活动的人乐于参与的一种方式，自然男性（或男性化人群）运用这种方式的人较多些。题主提到的行动匆忙的人在这种层面较多。</span>
        </p>
        <p>
          　　<strong><span style="font-size: 14px;">二、转移注意力减轻焦虑</span></strong><span style="font-size: 14px;">。这是当下中国最常见的焦虑应对方式。遇到焦虑烦躁的情绪，大多数人首先想到的是“别想那么多，干点儿别的事情”，以此转移掉糟糕的情绪，卸载生活中的种种压力，比如看电影、追美剧、玩桌游、打游戏等。在这些能随之或喜或悲、卷入和调动一些自我体验的、相对有明确规则、可以“死而复生”的游戏和娱乐中得到一种释放。</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">从心理动力学角度看，一个人短暂地退行到丰富而主观的幻想中，以一种游戏的精神触及内心的想法和担忧，是相对有效安全的情绪管理和自我娱乐的方式。这种方式可说是老少咸宜、男女不限。</span>
        </p>
        <p style="text-align: center;">
          <img src="http://img.mp.itc.cn/upload/20160810/cf074b0950d64d9ab2177a18a9463a67_th.jpg"/>
        </p>
        <p style="text-align: center;">
          图注：想象力用到极致的好叫创意；用到极致的糟叫焦虑。
        </p>
        <p>
          　　<strong><span style="font-size: 14px;">三、言语宣泄，寻求理解。</span></strong><span style="font-size: 14px;">压力大的时候找人说说话，言语倾吐一番，寻求身边人的支持和理解，几乎是我们靠本能就会做的事情。尤其对于工作压力大、人际关系复杂、家庭矛盾多的人而言，能够有这样的“安全基地”可以吐吐槽，说说真心话，实在是卸载焦虑的好方法。同时，对于焦虑型依恋的人来说，在情绪烦躁、焦虑不安时，如果能得到亲密伴侣的言语安抚、情感回应，那真好比大热天吃着了冰镇西瓜舒坦多了。<strong>只是当焦虑来临时，糟糕的想法影响了心绪，我们会害怕麻烦别人、也怕别人不能理解我们的想法、认同我们的感受，以及担心环境不允许自由的表达，而不得不压抑了自己。</strong>所以心理咨询是有这种需要的人们苦于无路时的一种选择，心理咨询师也被称为“专业倾听者”。</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">在这个讲求效率、盲目崇尚正能量的时代里，让人有些遗憾的是：很多人害怕向别人展露脆弱、担忧的情绪，也害怕别人对自己表达出种种无助与担忧的情绪。相对来说，男性会比女性更少使用这种方法。对于男性而言，表露自我的担忧，倾诉内心的痛苦，会激起他们潜意识中害怕不够阳刚、不够爷们儿的顾虑。而女性在情感表达、寻求支持上，更容易自然而真切地表达这种需要，这是社会的刻板印象所致，也有家庭文化中不鼓励男孩多愁善感的影响。</span>
        </p>
        <p>
          　　<strong><span style="font-size: 14px;">四、理性或理智化方式处理焦虑。</span></strong><span style="font-size: 14px;">理性看待和思考事情的要与不断理智化面对焦虑的方式区别开来。理性看待问题，寻求解释并以此指导行动是有效解决问题的方式，也是人类思考的积极意义；而“理智化”意味着不断地思考，反刍已经思考过的问题和答案。这种思考已经有些脱离实际行动与生活，不断的思考过程替代了行为上的改变，变成一种试图通过思考、无意识地渴望事情因此变得不同的幻想。这种应对方式下，重复的思考和理智化已经成为了防御焦虑的方式，不是为了指导行动而思考，只是为了缓解焦虑。</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">这种方式在脑力劳动者、好读书、好思辨、好争论的人身上很常见。这种人有时会找人讨论争辩，但明显感觉这样的争吵已经脱离了实际要解决的问题，而是渴望和对方争吵、渴望有机会把种种思考、顾虑说一说，以此把焦虑扔给对方，而不必自己承受。我们时常会以“怎么办？”“应该怎样？”来问别人问题，也许其实不是我们不知道该怎么做，而是想要通过不停地提问题来宣泄掉过度的焦虑和紧张。因为我们在高度焦虑下，判断力和应变能力暂时受到情绪的压制，精神上需要卸载掉一些压力，获得一些情绪上的支持。</span>
        </p>
        <p style="text-align: center;">
          <img src="http://img.mp.itc.cn/upload/20160810/cd15926ec48b45bd9fa9ad550badf36b_th.jpg"/>
        </p>
        <p>
          　　<span style="font-size: 16px;">3</span><span style="font-size: 16px;">不同亲疏关系，如何面对焦虑人群？</span>
        </p>
        <p>
          　　<strong><span style="font-size: 14px;">原则1：认出焦虑、保持淡定，避免卷入和感染。</span></strong>
        </p>
        <p>
          　　<span style="font-size: 14px;">这针对的是同学、同事、半熟儿脸的街坊等“非亲密关系”。当他们处理焦虑情绪体验时，我们能通过从他们的说法、行动、表情中，认出焦虑的存在，但是自身要保持淡定，接纳他们以自己的方式来处理焦虑，而不认同这种情绪。</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">这方面《泰囧》中的司机大哥是个表率，“任你多焦虑，我身心自在”。当然，我们也不能落井下石、说风凉话，尤其在上级、领导面前。有时我们从领导那儿领了薪水，一半是因为帮他办了实事，一半是帮他分担了焦虑。尤其是领导见不得自己焦虑、别人闲着的时候，但我们内心一定要分清“谁的焦虑在飞”。即使做事要迅速，主观上也不用认可别人的焦虑。原因上面说过：焦虑的人往往被糟糕至极的想象压着了，看不到完整的事件。而你如果人轻言微，不是能劝解领导的人，只要能自保就可以了。避免由于直接冲突，让领导从焦虑变成愤怒，而你成了领导的”出气筒“。</span>
        </p>
        <p>
          　　<strong><span style="font-size: 14px;">原则2 : 镜映对方的情绪，给对方支持，让他看看客观的自己。</span></strong>
        </p>
        <p>
          　　<span style="font-size: 14px;">这针对的是伴侣、亲子等“亲密关系”。当家人或爱人处于烦躁、焦虑专题状态，我们需要暂时成为对方情绪的抱持者。哺乳动物在情绪不安、受到惊吓时都会有依附现象。寻求更温暖、更安全的感受，让自己在情感上充充电，然后才能承受外界的风雨。</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">我们可以做的是，当对方焦虑烦躁时，敢于接纳对方的情绪，既认同对方当下的情绪，又不认可对方想象的糟糕结果；既支持对方表达真实的感受，又不强化对方负面的自我认识。这听起来很难，但核心就是一点，<strong>提示对方：你现在受到了焦虑的影响，是焦虑的情绪很糟，不是你很糟。情绪是情绪，你是你，情绪既会侵占你，它也会过”。</strong>能让对方看看完整的自己，提示他不是糟糕至极，就是最好的安抚。而具体做法不外乎耐心的倾听，反馈其中哪些是情绪、哪些是事实，提示他本身有的资源等。如果对方持续处于担忧和焦虑，可以建议接受心理咨询的专业帮助。</span>
        </p>
        <p>
          　　<strong><span style="font-size: 14px;">原则3：把自我的焦虑维持在中等水平。</span></strong>
        </p>
        <p>
          　　<span style="font-size: 14px;">这针对的是“自己和自己”的关系。当你总能发现别人很焦虑，并带给你困扰时，有两种可能:</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">一是说明你很烦躁、很焦虑，看到别人很慌很烦躁就更加烦躁。因为你焦虑时，对周围环境有些草木皆兵，所以满眼看到的都是焦虑的人、心烦的事儿。而你压抑了动作层面的焦虑，宁可有个清静的空间，自己在头脑中想一想，让自己焦虑、担忧的想法自然地表达he
 澄清，而不愿在外界表露出来。别人的焦虑而烦躁的动作，影响到了你处理和消化焦虑的过程。</span>
        </p>
        <p>
          　　<span style="font-size: 14px;">二是说明你太清闲了，生活过得很安逸，满眼都是别人的种种慌里慌张，而自己没有找到自己的目标。如果你们同处于一个环境下，这说明你了与环境的隔离和置身事外的状态。这提示这你需要调整自己的节奏，保持适度的紧张感。因为适度的焦虑可以督促我们做更多的事情，提高效率，充分发挥我们的创造性。而过于散漫、压力感过低，容易让我们乏味、消极，失去进取心，与时代脱节。</span>
        </p>
        <p>
          <br/>
        </p>


      </div>
    </div>

  </ion-content>

</ion-view>
