

<ion-view view-title="">

  <!--  <ion-nav-buttons side="left">
      <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="back()" nav-direction="back"></a>
    </ion-nav-buttons>-->

  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="back()"></a>
  </ion-nav-buttons>


  <ion-content class="padding">

    <div class="zboxText">
      <div class="z_title" id="titleDetail" >天气变冷，警惕诱发偏头痛</div>
      <div class="textM" id="publishInfo" >【来源：国务院新闻办公室网站】  【发布日期：2016-10-08】  【阅读次数：94】</div>
      <div class="z_newsContent" >

        <p>
          <br/>
        </p>

        <p>

          <span class="writer"><a href="http://mp.i.sohu.com/profile?xpt=aGVhbHRoLXNvaHVAc29odS5jb20=" target="_blank">搜狐健康</a></span>
          <span class="time">2016-10-18 10:24:13</span>
					<span class="tag">
					 &nbsp;					</span>
					<span class="read-num">
					 &nbsp;<a>阅读(<em class="red">5060</em>)</a>
					</span>
          <span class="comment-num"><a href="http://pinglun.sohu.com/s470537169.html" target="_blank">评论(<em class="red">1</em>)</a></span>

        </p>
        <p>


        </p>
        <p>




        </p>
        <p>
          声明：本文由入驻搜狐公众平台的作者撰写，除搜狐官方账号外，观点仅代表作者本人，不代表搜狐立场。<a href="http://quan.sohu.com/q/545c9b6bf6c43b5569fe64a2" target="_blank">举报</a>
        </p>
        <p>


        </p>

        &nbsp; &nbsp; &nbsp;
        <p style="text-align: center;">
          <img src="http://img.mp.itc.cn/upload/20161018/4be449780aa64bb6ba19047b67397645_th.jpg"/>
        </p>
        <p>
          　　<strong>搜狐健康 文/北京地坛医院 许东梅 副主任医师</strong>
        </p>
        <p>
          　　进入秋季，天气渐渐变冷。这对于“偏头痛”患者来说，并不是什么好消息。因为天气变冷容易诱发“偏头痛”的发作。“偏头痛”，作为一种反复发作的常见病，对于天气的变化非常敏感，患者应当高度重视，防止发作。
        </p>
        <blockquote>
          <p>
            　　秋去冬来，气温逐渐变的寒冷起来，“偏头痛”患者的头痛变得更加容易被诱发。这是因为，当寒潮来袭时，患者的身体在体外寒冷的刺激下，会反射性的引起脑血管痉挛变细，当痉挛达到一定程度时，痉挛就会转变为被动性扩张，出现血管怒张、充盈、搏动增强，血流冲击扩张的脑动脉壁上痛觉神经末梢，最终引发“偏头痛”的发作。
          </p>
        </blockquote>
        <blockquote>
          <p>
            　　“偏头痛”的发作，不仅仅使患者的身体遭受巨大的痛苦，更使得患者精神受到严重折磨，以至于不能正常生活、工作。秋冬季节是“偏头痛”最容易被诱发的季节，因此，为了减少“偏头痛”的发作，减轻“偏头痛”对患者造成的伤害，患者及家属可以从以下几个方面进行防护。
          </p>
          <p style="text-align: center;">
            <img src="http://img.mp.itc.cn/upload/20161018/63c45e6af96a49c7b23694eed22c7200_th.jpg"/>
          </p>
        </blockquote>
        <blockquote>
          <p>
            　　1.<strong>注 意 保 暖</strong>
          </p>
        </blockquote>
        <p>
          　　由于“偏头痛”会由寒冷而诱发，因此对患者的保暖是必须的，特别是对于头部的保暖。在冬天尽量减少长时间呆在室外，尽量多呆在正常温度的室内，而一些户外运动也尽量调整为室内进行或者改为其它运动，如果必须出门，尽量戴上帽子，保持头部的温度。
        </p>
        <blockquote>
          <p>
            　　2.<strong>不要长时间接触电脑、电视</strong>
          </p>
        </blockquote>
        <p>
          　　由于“偏头痛”患者的保暖需要，患者呆在室内的时间会相对变长，增加了患者面对电脑、电视的时间及几率。但是患者不宜长时间面对电脑、电视，如长时间面对显示屏会受到电磁辐射，而长时间的电磁辐射会导致患者眼睛的疲劳，患者的眼睛疲劳极易耗伤肝血，引起肝风内动，最终同样会导致“偏头痛”的发作。
        </p>
        <blockquote>
          <p>
            　　3.<strong>建立良好作息制度，劳逸结合</strong>
          </p>
        </blockquote>
        <p>
          　　在冬季，患者应该放松自己，减少精神紧张而引起“偏头痛”的发作，即应情绪稳定、避免过度劳累。可以选择泡泡温水浴、做做瑜伽等放松运动来避免头痛的发作。同时还应保持环境安静，避免在喧闹的场所久呆。维持规律的作息，即生活规律，保证准时睡觉，保证不熬夜等。
        </p>


      </div>
    </div>

  </ion-content>

</ion-view>
