





<ion-view view-title="">

<!--  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="back()" nav-direction="back"></a>
  </ion-nav-buttons>-->




  <ion-content class="padding">

    <div class="zboxText">
      <div class="z_title" id="titleDetail" ng-bind-html="headtitle"></div>
      <div class="textM" id="publishInfo" ng-bind-html="info"></div>
      <div class="z_newsContent" ng-bind-html="detail"></div>
    </div>

  </ion-content>

</ion-view>
