
<ion-view view-title="睡眠状况">
  <ion-content class="sleepContent">
    <div class="list card">
      <div class="item item-body">
        <barsleep id="sleepChart">
        </barsleep>
      </div>
    </div>
    <div class="list card" style="padding-bottom: 20px">
          <pie id="1"></pie>
    </div>
    <div class="list card" id="sleepTime">
      <div class="row">
        <div class="col col-50">
          <span class="title">睡眠开始：</span><span class="value">22:00</span>
        </div>
        <div class="col col-50">
          <span class="title">深度睡眠时长：</span><span class="value">8:30</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <span class="title">睡眠结束：</span><span class="value">8:00</span>
        </div>
        <div class="col col-50">
          <span class="title">浅度睡眠时长：</span><span class="value">1:30</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
