
<ion-view title="寻医问诊">


  <ion-content class="padding">

    <div class="button-bar" style="border-bottom: 1px solid #ddd;height: 120px;padding:0px 8%">
      <div style="float:left;width:18%;text-align:center;margin-right: 40%;"><a class="button button-clear button-dark  "> <img src="img/icons3/ziwozhenduan.png" height="80" width="80" alt=""><p style="line-height: 20px">自我诊断</p></a></div>
      <div style="float:left;width:18%;text-align:center;margin-right: 40%"><a class="button button-clear button-dark   "><img src="img/icons3/zaixianwenzhen.png" height="80" width="80" alt=""><p style="line-height: 20px">在线问诊</p></a></div>
    </div>



    <div class="button-bar"  style="border-bottom: 1px solid #ddd;height: 120px;padding:0px 8%">
      <div style="float:left;width:18%;text-align:center;margin-right: 40%;"><a class="button button-clear button-dark"><img src="img/icons3/zhuanjiazaixiaxn.png" height="80" width="80" alt=""><p style="line-height: 20px">专家在线</p></a></div>
      <div style="float:left;width:18%;text-align:center;margin-right: 40%;"><a class="button button-clear button-dark"><img src="img/icons3/dianziguahao.png" height="80" width="80" alt=""><p style="line-height: 20px">电子挂号</p></a></div>
    </div>


    <div class="button-bar"  style="border-bottom: 1px solid #ddd;height: 120px;padding: 0px 8%">
      <div style="float:left;width:18%;text-align:center;margin-right: 40%;"><a class="button button-clear button-dark"><img src="img/icons3/zhangshangyaodain.png" height="80" width="80" alt=""><p style="line-height: 20px">掌上药店</p></a></div>
      <div style="float:left;width:18%;text-align:center;margin-right: 40%;"><a class="button button-clear button-dark"><img src="img/icons3/jiatingweishi.png"height="80" width="80"  alt=""><p style="line-height: 20px">家庭卫士</p></a></div>
    </div>


  </ion-content>

</ion-view>



