
<ion-view title="健康管家">

  <ion-content class="padding">
    <br>
    <div class="button-bar" style="border-bottom: 1px solid #ddd;height: 150px;padding:0px 1%">
      <div style="float:left;width:32%;text-align:center;margin-right: 1%;background-color: #00ccff "><a class="button button-clear button-dark "> <br><img src="img/icons2/icon-run.png" alt=""><p style="line-height: 20px">运动</p></a></div>
      <div style="float:left;width:32%;text-align:center;margin-right: 1%;background-color: #00ccff "><a class="button button-clear button-dark" href="#/app/tabs/heartrate"><br><img src="img/icons2/rate.png" alt=""><p style="line-height: 20px">心率</p></a></div>
      <div style="float:left;width:32%;text-align:center;margin-right: 1%;background-color: #00ccff "><a class="button button-clear button-dark"><br><img src="img/icons2/xueya.png" alt=""><p style="line-height: 20px">血压</p></a></div>
    </div>
    <br>
    <div class="button-bar"  style="border-bottom: 1px solid #ddd;height: 150px;padding:0px 1%">
      <div style="float:left;width:32%;text-align:center;margin-right: 1%;background-color: #00ccff "><a class="button button-clear button-dark"><br><img src="img/icons2/sleep.png" alt=""><p style="line-height: 20px">睡眠</p></a></div>
      <div style="float:left;width:32%;text-align:center;margin-right: 1%;background-color: #00ccff "><a class="button button-clear button-dark" href="#/app/tabs/weight"><br><img src="img/icons2/height_1.png" alt=""><p style="line-height: 20px">体重</p></a></div>
      <div style="float:left;width:32%;text-align:center;margin-right: 1%;background-color: #00ccff "><a class="button button-clear button-dark" href="#/app/tabs/bodyfat"><br><img src="img/icons2/tizhilv.png" alt=""><p style="line-height: 20px">体脂率</p></a></div>
    </div>
    <br>
    <div class="button-bar"  style="border-bottom: 1px solid #ddd;height: 150px;padding: 0px 1%">
      <div style="float:left;width:32%;text-align:center;margin-right: 1%;background-color: #00ccff "><a class="button button-clear button-dark"><br><img src="img/icons2/temperature.png" alt=""><p style="line-height: 20px">体温</p></a></div>
      <div style="float:left;width:32%;text-align:center;margin-right: 1%;background-color: #00ccff "><a class="button button-clear button-dark"><br><img src="img/icons2/_drugs4.png" alt=""><p style="line-height: 20px">用药</p></a></div>
      <div style="float:left;width:32%;text-align:center;margin-right: 1%;background-color: #00ccff "><a class="button button-clear button-dark"><br><img src="img/icons2/bingli.png" alt=""><p style="line-height: 20px">病历</p></a></div>
    </div>


  </ion-content>

</ion-view>
