<!--lyf 16 9 26-->

<ion-view title="首页">
  <ion-content class="padding">
    <div class="row" style="border-bottom: 1px solid #ddd">
      <div class="col col-50">健康管家</div>
    </div>
    <div class="row" style="border-bottom: 4px solid #ddd;height: 100px ">
      <div class="col .col-33" ><img src=" img/icon1/yundongzhuangkuang.png"height="50"width="50" alt=""><p style="line-height: 3">运动状况</p></div>
      <div class="col .col-33"><img src="img/icon1/jiankangfenxi.png "height="50"width="50" alt=""><p style="line-height: 3">健康分析</p></div>
      <div class="col .col-33"><img src="img/icon1/wodewenzhen.png "height="50"width="50" alt=""><p style="line-height: 3">我的问诊</p></div>
    </div>


    <div class="row" style="border-bottom: 1px solid #ddd">
      <div class="col col-50">寻医问诊</div>
    </div>
    <div class="row" style="border-bottom: 4px solid #ddd;height: 100px">
      <div class="col .col-33"  ><img src="img/icon1/zaixianwenzhen.png "height="50"width="50" alt=""><p style="line-height: 3">在线问诊</p></div>
      <div class="col .col-33"><img src="img/icon1/guahao.png "height="50"width="50" alt=""><p style="line-height: 3">电子挂号</p></div>
      <div class="col .col-33"><img src="img/icon1/zhangshangyaodian.png "height="50"width="50" alt=""><p style="line-height: 3">掌上药店</p></div>
    </div>



    <div class="row" style="border-bottom: 1px solid #ddd">
      <div class="col col-50">健康资讯</div>
    </div>
    <div class="row" style="border-bottom: 4px solid #ddd;height: 100px">
      <div class="col .col-33"  ><img src="img/icon1/news.png "height="50"width="50" alt=""><p style="line-height: 3">健康新闻</p></div>
      <div class="col .col-33"><img src="img/icon1/baike.png "height="50"width="50" alt=""><p style="line-height: 3">医疗百科</p></div>
      <div class="col .col-33"><img src="img/icon1/yangshengpindao.png"height="50"width="50" alt=""><p style="line-height: 3">养生频道</p></div>
    </div>

  </ion-content>
</ion-view>

