
<ion-view title="健康资讯">

<ion-tabs class="tabs-top tabs-striped">

    <ion-tab title="健康新闻" ng-click="showView('healthnews')">

      <ion-nav-view name="healthinquiry-healthnews"      href="#/app/tabs/healthinquiry/healthnews">
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="医疗百科" ng-click="showView('medency')">
      <ion-nav-view name="healthinquiry-medency"  href="#/app/tabs/healthinquiry/medency">
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="养生频道" ng-click="showView('healthchannel')">
      <ion-nav-view name="healthinquiry-healthchannel"   href="#/app/tabs/healthinquiry/healthchannel">
      </ion-nav-view>
    </ion-tab>






  </ion-tabs>
</ion-view>

